/* custom.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
/* Swiper container stylng */
header{
	width: 100%;
	background: #252630;
	height: 50px;
}

.swiper {
    right: 1rem;
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section {
    display: none; 
}
section.active {
    display: block; 
}
#map {
    height: 400px;
    width: 100%;
}


.gallery{ 

    padding: 50px;   
    display: flex;    
    flex-wrap: wrap;   
    justify-content: center;   
    margin: auto; 
   
   } 
   
   .image-wrapper{    
   display: inline-block;    
   margin: 30px; 
   
   } 
   
   .img{ 
   
   width:350px;    
   height: 370px;    
   border-radius: 10px; 
   
   }    
   .image-wrapper {    
   transition: transform 0.3s ease; 
   
   }    
   .image-wrapper.zoomed {    
   transform: scale(1.2); 
   
   } 

   .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.2);
  }